<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="title">
    <title>자유게시판</title>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
</th:block>

<th:block layout:fragment="javascript">
    <!--    <script th:src="@{/js/index.js}"></script>-->
</th:block>

<th:block layout:fragment="containerFragment">
    <div class="container">
        <h1>자유게시판</h1>
        
        <table class="board-table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성 날짜</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board, iterStat : ${boards}">
                    <td th:text="${iterStat.index + 1}">1</td>
                    <td><a th:href="@{/board/{id}(id=${board.id})}" th:text="${board.title}">게시글 제목</a></td>
                    <td th:text="${board.author}">작성자</td>
                    <td th:text="${#dates.format(board.createdDate, 'yyyy-MM-dd HH:mm')}">2024-08-26 14:00</td>
                </tr>
            </tbody>
        </table>
    </div>  
</th:block>

</html>
