<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/layout}">

<th:block layout:fragment="title">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>User Recipe</title>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/recipeList.css}">
</th:block>

<th:block layout:fragment="javascript">
    <script th:src="@{/js/userRecipeList.js}"></script>
</th:block>

<th:block layout:fragment="containerFragment">
    <div class="container">
        <!-- 로그인한 유저에게만 보이는 저장 버튼 -->
        <div th:if="${#authentication.principal == 'anonymousUser'}"  class="login-please">
            <span>로그인해주세요</span>
        </div>
        
		
        <!-- 레시피 그리드 -->
        <div class="recipe-grid"
             th:data-total-pages="${userTotalPages}"
             th:data-current-page="${userCurrentPage}">
			 
            <!-- Thymeleaf 반복문으로 레시피 항목 생성 -->
            <th:block th:each="recipe : ${userRecipes}">
                <div class="recipe-item"
                     th:onclick="'location.href=\'/userRecipe/' + ${recipe.id} + '\''"
                     onmouseenter="speakRecipeName(this)">
                     
                    <div class="image-container">
                        <img th:src="${recipe.mainImageUrl}" alt="레시피 이미지"
                             th:if="${recipe.mainImageUrl != null}">
                        <!-- 상세보기 오버레이 -->
                        <div class="image-overlay">
                            <p class="overlay-text">상세보기</p>
                        </div>
                    </div>
                    
                    <div class="recipe-details">
                        <p class="recipe-name" th:text="${recipe.name}"></p>
                        <p class="tips" th:text="${recipe.tips}"></p>
                    </div>
                </div>
            </th:block>
        </div>
		
		
		<!-- 글쓰기 버튼 -->
						        <div th:if="${#authentication.principal != 'anonymousUser'}" style="padding-top: 30px;">
									<div class="button-container write-btn button-link">
										<a class="btn btn-secondary" th:href="@{/}">메인</a>
									     <a class="btn secondary wbtn" th:href="@{/userRecipe_write}">작성</a>
									</div>
						</div>

        <!-- 페이지 상단으로 이동하는 버튼 -->
        <button class="scroll-to-top" onclick="scrollToTop()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
                <path d="M12 4l-6 6h12l-6-6z"></path>
            </svg>
        </button>

      
    </div>
</th:block>

</html>
