<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<th:block layout:fragment="title">
	<title>타이틀</title>
</th:block>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/index.css}">
	<link rel="stylesheet" th:href="@{/css/recipeList.css}">
</th:block>

<th:block layout:fragment="javascript">
	<script th:src="@{/js/recipeList.js}"></script>
</th:block>

<th:block layout:fragment="containerFragment">
	<div class="container">
		<div class="recipe-grid" th:data-total-pages="${totalPages}" th:data-current-page="${currentPage}">
			<!-- Thymeleaf 반복문으로 레시피 항목 생성 -->
			<th:block th:each="recipe : ${recipes}">
				<div class="recipe-item"
					th:onclick="'location.href=\'/siteRecipe/' + ${recipe.id} + '\''">
					<div class="image-container" style="position: relative;">
						<img th:src="${recipe.mainImageUrl}" alt="레시피 이미지"
							style="width: 250px; height: 250px;">
						<div class="image-overlay">
							<p class="overlay-text">상세보기</p>
						</div>

					</div>
					<div class="recipe-details" style="margin-top: 8px;">
						<p class="recipe-name"  th:text="${recipe.name}">
						<p class="tips" th:text="${recipe.tips}"></p>
						</p>
					</div>
				</div>
			</th:block>
		</div>

		<!-- 페이지 상단으로 이동하는 버튼 -->
		<button class="scroll-to-top" onclick="scrollToTop()">
		       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24px" height="24px">
		           <path d="M12 4l-6 6h12l-6-6z"></path>
		       </svg>
		   </button>
	</div>
</th:block>

</html>