<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/mypage_layout}">

<head>
<title>내 게시글</title>
<link rel="stylesheet" th:href="@{/css/user.css}">
<link rel="stylesheet" th:href="@{/css/mypage_posts.css}">
</head>

<body>
	<div class="container">
		<h2>내 게시글</h2>

		<!-- 게시글 테이블 -->
		<table class="table">
			<thead>
				<tr>
					<th>번호</th>
					<th>글 제목</th>
					<th>작성자</th>
					<th>댓글수</th>
					<th>조회수</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="board : ${boards}">
					<td th:text="${board.postId}"></td>
					<td th:text="${board.title}">제목</td>
					<td th:text="${board.userId}">작성자</td>
					<td th:text="${board.content}">내용</td>
					<td th:text="${board.views}">조회 수</td>
					<td th:text="${#dates.format(board.postDate, 'yyyy-MM-dd')}">작성일자</td>
				</tr>
			</tbody>
		</table>

		<!-- 검색과 페이지네이션 -->
		<div class="search-pagination">
			<form method="get" th:action="@{/mypage/posts}">
				<input class="button1" type="text" name="keyword"
					placeholder="검색어를 입력하세요..." />
				<button class="button2" type="submit">검색</button>
			</form>
		</div>
	</div>
</body>
</html>
