<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/mypage_layout}">

<th:block layout:fragment="title">
    <title>내 게시글</title>
</th:block>

<th:block layout:fragment="css">
	<link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/mypage_posts.css}">
</th:block>

<th:block layout:fragment="containerFragment">
    <div class="container">
        <h2>내 게시글</h2>

        <!-- 게시글 테이블 -->
        <table class="table">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>글 제목</th>
                    <th>작성자</th>
                    <th>댓글수</th>
                    <th>조회수</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="post, stat : ${posts}">
                    <td th:text="${stat.count}"></td> <!-- 게시글 번호 -->
                    <td th:text="${post.title}"></td> <!-- 글 제목 -->
                    <td th:text="${post.author}"></td> <!-- 작성자 -->
                    <td th:text="${post.comments}"></td> <!-- 댓글수 -->
                    <td th:text="${post.views}"></td> <!-- 조회수 -->
                    <td th:text="${#dates.format(post.date, 'yyyy.MM.dd.')}"></td> <!-- 작성일 -->
                </tr>
            </tbody>
        </table>

        <!-- 검색과 페이지네이션 -->
        <div class="search-pagination">
            <form method="get" th:action="@{/myposts}">
                <input type="text" name="keyword" placeholder="검색어를 입력하세요..." />
                <button type="submit">검색</button>
            </form>
        </div>
    </div>
</th:block>

</html>
