<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <!-- Add your CSS links here -->
</head>
<header>
    <div class="header" th:fragment="headerFragment">
        <link rel="stylesheet" th:href="@{/css/header.css}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script th:src="@{/js/header.js}"></script>


        <div class="logo">
            <a th:href="@{/}" class="logo-link">
                <div class="logo-image"></div>
            </a>
        </div>
        <button id="requestMicrophone">Request Microphone Access</button>
        <div class="gnb">
            <ul>
                <li><a th:href="@{/siteRecipe}">공식레시피</a></li>
                <li><a th:href="@{/userRecipe}">모두의레시피</a></li>
                <li><a th:href="@{/boards}">자유게시판</a></li>
                <li th:if="${#authentication.principal != 'anonymousUser'}"><a th:href="@{/mypage}">마이페이지</a></li>
                <li th:if="${#authentication.principal != 'anonymousUser'}"><a th:href="@{/logout}">로그아웃</a></li>
                <li th:if="${#authentication.principal == 'anonymousUser'}"><a th:href="@{/register}">회원가입</a></li>
                <li th:if="${#authentication.principal == 'anonymousUser'}"><a th:href="@{/login}">로그인</a></li>
            </ul>
        </div>

        <!--검색 토글 영역-->
        <div class="search-bar" id="searchBar">
            <input type="text" id="search-input" placeholder="오늘의 메뉴" onfocus="loadAllRecipes()"
                   oninput="filterRecipes()">
            <button>
                <span class="material-icons">search</span>
            </button>
            <ul id="search-results" class="dropdown-menu"></ul>
        </div>

        <!-- 토글 버튼 추가 -->
        <div class="search-toggle">
            <button id="searchToggleButton">
                <span class="material-icons">search</span>
            </button>
        </div>


        <!--		메뉴 토글 영역-->
        <div class="menu-toggle">
            <button id="toggleButton">
                <span class="material-icons">menu</span>
            </button>
            <div class="mobile-menu" id="mobileMenu">
                <button onclick="window.location.href='/site_recipe'">공식레시피</button>
                <button onclick="window.location.href='/user_recipe'">모두의레시피</button>
                <button onclick="window.location.href='/boards'">자유게시판</button>
                <button th:if="${#authentication.principal != 'anonymousUser'}"
                        onclick="window.location.href='/myPage'">마이페이지
                </button>
                <button th:if="${#authentication.principal != 'anonymousUser'}"
                        onclick="window.location.href='/logout'">로그아웃
                </button>
                <button th:if="${#authentication.principal == 'anonymousUser'}"
                        onclick="window.location.href='/register'">회원가입
                </button>
                <button th:if="${#authentication.principal == 'anonymousUser'}" onclick="window.location.href='/login'">
                    로그인
                </button>
            </div>
        </div>
        <script src="/js/header.js"></script>
    </div>

</header>
</html>