<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <!-- Add your CSS links here -->
</head>
<body>
<div class="header" th:fragment="headerFragment">
    <div class="nav">
        <h1 class="logo">
            <a th:href="@{/}">logo</a>
        </h1>
        <div class="gnb">
            <ul>
                <li><a th:href="@{/site_recipe}">사이트레시피</a></li>
                <li><a th:href="@{/user_recipe}">유저레시피</a></li>
                <li><a th:href="@{/site_recipe_page}">사이트레시피상세</a></li>
                <li><a th:href="@{/user_recipe_page}">유저레시피상세</a></li>

                <li><a th:href="@{/board}">board</a></li>
                <li>
                    <a th:href="@{/signin}">로그인</a>
                </li>
                <li>
                    <a th:href="@{/signout}">로그아웃</a>
                </li>
                <li>
                    <a th:href="@{/mypage}">마이페이지</a>
                </li>


                <!-- Check if user is authenticated -->
                <!--                <li th:if="${#authentication.principal == 'anonymousUser'}">-->
                <!--                    <a th:href="@{/signin}">로그인</a>-->
                <!--                </li>-->
                <!--                <li th:if="${#authentication.principal != 'anonymousUser'}">-->
                <!--                    <a th:href="@{/signout}">로그아웃</a>-->
                <!--                </li>-->
                <!--                <li th:if="${#authentication.principal != 'anonymousUser'}">-->
                <!--                    <a th:href="@{/mypage}">마이페이지</a>-->
                <!--                </li>-->

            </ul>
        </div>
    </div>
</div>
</body>
</html>
