<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <!-- Add your CSS links here -->
</head>
<body>
<div class="mypage_menu" th:fragment="mypageMenu">
    <div class="mypage_nav">
        <div class="mypage_gnb">
            <ul>
                <li><a th:href="@{/mypage}">정보수정</a></li>
                <li><a th:href="@{/mypage_posts}">내가쓴글</a></li>
                <li><a th:href="@{/mypage_likes}">좋아요</a></li>

            </ul>
        </div>
    </div>
</div>
</body>
</html>
