.index{
	background-color: #ffffff;
	padding-bottom: 60px;
}


/* 슬라이더 관련 스타일 */
.slider-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 비율 유지 */
    height: 0;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrow2 {
	width: 40px;
    height: 40px;
    font-size: 24px;
}

.arrow{
	width: 80px;
	height: 80px;
	font-size: 36px;
	
}

.arrow-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}




.arrow-button.left {
    left: 10px;
}

.arrow-button.right {
    right: 10px;
}

.dot-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 1;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: black;
}

/* 두 번째 슬라이더 전용 스타일 */
#slider2 {
	border-radius: 10px;
	justify-content: center;
	width: 95%;
    /* 두 번째 슬라이더의 세로 높이는 고정되며 가로 사이즈만 조정됩니다. */
}

#slider-wrapper2 {
    display: flex;
    transition: transform 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	height:100%;

}



/* 공식 레시피 관련 스타일 */

.siterecipe {
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}

.siterecipe h1 {
    margin: 20px auto;
}

.butt {
    font-weight: bold;
    margin-top: 20px;
    font-size: 22px;
    cursor: pointer;
    width: max-content;
    position: relative;
    transition: color 0.3s ease;
}

.butt:hover {
    color: #db0000;
}

.butt::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: #db0000;
    transition: width 0.3s ease;
}

.butt:hover::after {
    width: 100%;
}

.divider {
    margin-top: 15px;
    background-color: #BDBDBD;
    border: none;
    height: 1px;
    width: 80%;
    margin: auto;
}

.recipe-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-container {
    position: relative;
    padding: 16px;
    background-color: white;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    width: 250px;
    height: 320px; /* Set a fixed height to ensure consistency */
    overflow: hidden;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.image-container {
    position: relative;
    width: 100%;
    height: 250px; /* Set a fixed height for consistency */
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container without distortion */
    border-radius: 4px;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 8px;
    z-index: 10;
}

.image-container:hover .image-overlay {
    opacity: 1;
}

.overlay-text {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.recipe-details {
    margin-top: 8px;
}

.recipe-name {
    font-size: 14px;
    font-weight: bold;
}


/* 텍스트 영역 스타일 */
.text-area {
    position: relative;
    z-index: 1;
    padding: 20px 0;
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-area h1 {
    font-size: 40px;
    font-weight: bold;
}

.text-area p {
    font-size: 18px;
}

.text-area p i {
    font-size: 14px;
}

.join-button {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.join-button:hover {
    background-color: rgba(170, 170, 170, 0.3);
}




/* 배경 이미지 스타일 */
.background-container {
    position: relative;
    width: 100%;
    overflow: hidden;
	z-index: -1;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}




/* 사용자레시피 및 자유게시판 */
.free-container {
    width: 100%;
	height:max-content;
    background-color: white;
	box-sizing: border-box;
    padding: 40px;
}

.free-text-button-area {
    display: flex;
    
    justify-content: center;
    margin:auto;
    z-index: 1;
    margin-top: 50px;
    margin-bottom: 50px;
}

.free-image-container {
	display: flex;
    width: 500px;
    height: 300px;
    position: relative;
}




/*ㅇ*/


.free-text-img-container{
	background-color: #000000;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	max-width: 100%;
	color: #ffffff;
}


.ftic1{
	position: relative;
	background-image: url('/images/recipeImg2.png');
	background-size: cover;
	background-position: center;
	overflow: hidden;
	}
.ftic2 {
    position: relative;
    background-image: url('/images/recipeImg3.png');
    background-size: cover;
    background-position: center;
	overflow: hidden;
}

.ftic {
	position: absolute;
	top:0;
	left: 0;
	width:100%;
	height:100%;
	background-color: rgb(39, 39, 39,0.5);
	border-radius: 10px;
	z-index: 1;
	pointer-events: none;
}


.free-zindex{
	position: relative;
	z-index: 10;
	text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.free-text-button-content {
    text-align: left;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 400px;
}

.free-text-button-content h1 {
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
	margin:0;
	
}

.free-divider {
    background-color: #BDBDBD;
    border: none;
    height: 1px;
}

.free-text-button-content p {
    font-size: 14px;
}

.free-button-container {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.free-button {
    border: none;
    border-radius: 5px;
    background-color: #C53030; /* Tailwind red-600 */
    color: white;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.free-button:hover {
    background-color: rgb(255, 0, 0); /* Tailwind red-800 */
}


/*좌우에서 위아래로*/
/* 슬라이더와 텍스트 영역의 스타일 */
.free-image-container {
    flex: 1;
    max-width: 100%;
}

.free-text-button-content {
    flex: 1;
    max-width: 50%
}



/* 미디어 쿼리: 1000px 이하일 때 레이아웃 조정 */
@media (max-width: 1000px) {
    .free-text-button-area {
        flex-direction: column;
        align-items: center;
        gap: 20px;	
		margin: auto;
    }

    .free-image-container, .free-text-button-content {
		margin: auto;
        width: 100%;
        max-width: none;
		justify-content: center;
    }
	
	.free-text-img-container{
		width:100%;
		margin:auto;
		justify-content: center;
		
	}
	
	.arrow{
		width:60px;
		height:60px;
		font-size: 30px;
	}
	
	.arrow2 {
				width: 40px;
				height: 40px;
				font-size: 20px;
				
			}
}


/* 하단 */
.back-last2{
	background-color: white;
	width: 100%;
	height: 200px;
}

.back-last {
    width: 100%;
    height: 200px;
    background-image: url('/images/mainA.png');
    background-size: cover;
    background-position: center;
}


.foooot{
	background-color: #ffffff;
	height:200px;
	width:100%;
}


@media (max-width: 1000px) {
	
	.back-last2{
		background-color: white;
		width: 100%;
		height: 50px;
	}
	.foooot{
		background-color: #ffffff;
		height:100px;
		width:100%;
	}
	
}