/* 중앙 정렬 및 레이아웃 조정 */

.recipe-header {
    display: flex;
    width: 100%; /* 전체 너비 사용 */
    justify-content: space-between; /* 두 요소를 양쪽 끝에 배치 */
	margin: 80px 0 30px 0;
}

.main-image {
    width: 50%; /* 이미지 영역 50% */
    border-radius: 5px;
}

.recipe-info {
    width: 50%; /* 텍스트 영역 50% */
    padding-left: 50px; /* 이미지와의 간격 */
	margin-top: 20px;
}

.recipe-detail {
	width: 1040px !important;
}

.recipe-detail p {
    font-size: 1.2em;
    margin: 20px 0;
    line-height: 1.6;
}

.recipe-detail strong {
	font-size: 22px;
}

#recipeManualContainer {
	margin: 80px 0;
}

#recipeIngredients{
	font-size: 18px;
}

/* 좋아요 버튼 스타일 */
.like-button {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;     /* 수직 중앙 정렬 (선택 사항, 버튼이 높이에 맞게 조정됨) */
    width: 47%;              /* 부모 컨테이너의 너비를 50%로 설정 */
    text-align: center;      /* 버튼이 중앙 정렬되도록 설정 */
}

button {
    background-color: #db0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #b61111;
}

/* 조리법 줄 바꿈 스타일 */
#recipeManual {
    white-space: pre-line;
    line-height: 1.6;
}

/* 텍스트 클릭 스타일 */
.clickable-text {
    cursor: pointer;
	width: 80%;
	margin-right: 10px;
}

.clickable-text:hover {
    color: blue;
}

.recipe-step {
	display: flex;
	margin-top: 30px;
}

hr {
	color: gray;
	margin: 80px 0 80px 0;
}

strong {
	margin-right: 15px;
}

.backbutton {
	margin: 50px 0 50px 0;
}

img {
    width: 500px !important;
    height: auto !important;
    object-fit: cover !important;
	border-radius: 5px;
}