/* recipeDetail.css */

/* 레시피 상세 스타일 */
.recipe-detail {
	text-align: center;
}

.recipe-detail img {
	width: 100%;
	max-width: 600px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-detail p {
	font-size: 1.2em;
	margin: 15px 0;
	line-height: 1.6;
}

.recipe-detail strong {
	color: #555;
}

/* 버튼 스타일 */
button {
	background-color: #007bff;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 1em;
	cursor: pointer;
	transition: background-color 0.3s;
	margin: 5px;
}

button:hover {
	background-color: #0056b3;
}
/* 조리법 줄 바꿈 스타일 */
#recipeManual {
	white-space: pre-line; /* 줄 바꿈과 공백을 유지 */
	line-height: 1.6; /* 줄 간격 조정 */
}

/* 이미지 스타일링 */
#recipeImages img {
	display: block; /* 블록 레벨 요소로 설정하여 자동 줄 바꿈 */
	width: 100%; /* 부모 요소의 폭에 맞게 확장 */
	max-width: 600px; /* 최대 너비 설정 */
	border-radius: 8px; /* 테두리 둥글게 */
	margin-bottom: 10px; /* 이미지 사이 여백 */
}

/* 텍스트 영역을 클릭 가능하게 하는 CSS 스타일 */
.clickable-text {
	cursor: pointer;
}
.clickable-text:hover {
	color: blue;
}