<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<th:block layout:fragment="title">
    <title>index page</title>
</th:block>

<th:block layout:fragment="css">
<link rel="stylesheet" th:href="@{/css/index.css}">
</th:block>

<th:block layout:fragment="javascript">
<!--    <script th:src="@{/js/index.js}"></script>-->
</th:block>

<th:block layout:fragment="containerFragment">
    <div class="container">
        <div class="index">
            <div class="index-con">
                index page
                <h1>하이하이하이</h1>
                <div class="block"></div>
            </div>
        </div>
    </div>
</th:block>

</html>